body {
	background-color: #f8f8f8;
	color: #666666;
}

.cf{
	background-color: white;
}
#a1 {
	text-align: right;
	line-height: 10pt;
	font-family: "Times New Roman";
	color: black;
}

#a2 {
	text-align: right;
	line-height: 10pt;
	text-decoration: underline;
	font-style: italic;
	color: blue;
}

#a3 {
	font-style: italic;
	color: black;
}

#a3:hover {
	/*color: pink;*/
	color: #999999;
}

img {
	margin-right: 1000px;
}

.text{
	display: inline-block;
	text-align: right;
	
}

th {
	background: #737373; 
	color: #FFFFFF;
}

td {
	font-family: "New Times Roman";
	font-size: 16px;
}

/*body {
	background-color: #999999;
}

a:link {
	color: red;
}

a:visited {
	color: pink;
}

a:hover {
	color: yellow;
}

h1 {
	font-family: "Calisto MT"; 
	font-size: 30px;
	color: #DD0000;
	text-align: center;
}

h3 {
	font-family: "Calisto MT"; 
	font-size: 20px;
	color: #AA0000;
}

h5 {
	font-family: "Calisto MT"; 
	font-size: 10px;
	color: #AA0000;
}

p {
	font-family: "Georgia";
	font-size: 16px;
	line-height: 20px;
	color: #2B19F9;
}

ul {
	font-family: "Georgia";
	font-size: 12px;
	line-height: 16px;
}

ol {
	font-family: "Georgia";
	font-size: 12px;
	line-height: 16px;
}

th {
	background: #AA0000; 
	color: #FFFFFF;
}

td {
	font-family: "Georgia";
	font-size: 16px;
}*/
